BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
SeparateDefinitionBlocks: Always
SortIncludes: Never
ReflowComments: false
FixNamespaceComments: false
BreakStringLiterals: false
